<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ramaraja&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/avaliacao.css">
    <title>
        <GirlscanCode /> | Avaliações
    </title>
</head>

<body>
    <header>
        <h1>
            <img src="../static/images/logo_gcc.svg" alt="Logo Girls can Code">
        </h1>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Por onde começar?</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Depoimentos</a></li>
            </ul>
        </nav>
        <button type="submit" class="button"> Cadastre-se</button>
    </header>

    <main class="pagina-avaliacao">
        <article class="article-avaliacao">
            <h2>Seja bem-vinda!</h2>
            <h3>Tudo que você publica ajuda outras mulheres <br>a encontrarem uma empresa e um trabalho
                <br>em que se sintam seguras e confortáveis.</h3>
            <h3>Ah! Não se preocupe, todas as informações <br>serão publicadas de forma sigilosa.</h3>
            <h3>Nós agradecemos!</h3>
            <div class="formulario">
                <div class="tracado-lateral-azul">
                    <p>O que gostaria de avaliar?</p>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Empresa</span>
                        </label>
                    </div>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Salário</span>
                        </label>
                    </div>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Avaliação de benefícios</span>
                        </label>
                    </div>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Avaliação de entrevistas</span>
                        </label>
                    </div>
                </div>
                <div>
                    <p>Você é uma atual ou ex-funcionária?</p>
                    <div class="form-left-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Atual funcionária</span>
                        </label>
                    </div>
                    <div class="form-left-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Ex-funcionária</span>
                        </label>
                    </div>
                    <div class="form-left-avaliacao">
                        <p id="ultimoItem">Nome da empresa:</p>
                            <input class="nome-empresa" type="text" placeholder="Digite o nome da empresa">
                    </div>
                    </div>
                </div>
        </article>
    </main>

    <footer>
        <img class="girlfooter" src="../static/images/mulher-sentada.svg" alt="menina-sentada">
        <div class="footer">
            <h2>&ltgcc/&gt</h2>
            <div class="menufooter">
                <nav>
                    <a href="">O Projeto</a>
                    <a href="">Mulheres +</a>
                    <a href="">Eventos</a>
                    <a href="">Cursos</a>
                </nav>
            </div>
        </div>
            <div class="redes">
                <p>Fique por dentro do &ltGirlscanCode/&gt </p>
                <div>
                    <a class="sociais" href=""><img src="../static/images/twitter.png" alt="logo-twitter"></a>
                    <a class="sociais" href=""><img src="../static/images/facebook.png" alt="logo-facebook"></a>
                    <a class="sociais" href=""><img src="../static/images/instagram.png" alt="logo-instagram"></a>
                </div>
            </div>
    </footer>
</body>
</html>