{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="../static/avaliacao.css"/>
{% endblock %} 

{% block title %} <GirlscanCode/> | Avaliações {% endblock %} 

{% block content %}
    <main class="pagina-avaliacao">
        <article class="article-avaliacao">
            <h2>Seja bem-vinda!</h2>
            <h3>Tudo que você publica ajuda outras mulheres <br>a encontrarem uma empresa e um trabalho
                <br>em que se sintam seguras e confortáveis.</h3>
            <h3>Ah! Não se preocupe, todas as informações <br>serão publicadas de forma sigilosa.</h3>
            <h3>Nós agradecemos!</h3>
            <div class="formulario">
                <div class="tracado-lateral-azul">
                    <p>O que gostaria de avaliar?</p>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Empresa</span>
                        </label>
                    </div>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Salário</span>
                        </label>
                    </div>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Avaliação de benefícios</span>
                        </label>
                    </div>
                    <div class="form-right-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Avaliação de entrevistas</span>
                        </label>
                    </div>
                </div>
                <div>
                    <p>Você é uma atual ou ex-funcionária?</p>
                    <div class="form-left-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Atual funcionária</span>
                        </label>
                    </div>
                    <div class="form-left-avaliacao">
                        <label>
                            <input type="checkbox">
                            <span>Ex-funcionária</span>
                        </label>
                    </div>
                    <div class="form-left-avaliacao">
                        <p id="ultimoItem">Nome da empresa:</p>
                            <input class="nome-empresa" type="text" placeholder="Digite o nome da empresa">
                    </div>
                    </div>
                </div>
        </article>
    </main>
{% endblock %}     