{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="../static/cursos-style.css" />
{% endblock %}

{% block title %}
<GirlscanCode/> | Cursos
{% endblock %}

{% block content %}
<main>
    <div class="cursos">
        <h1>Cursos</h1>
    </div>
    <div>
        <p> Como começar a programar? <br>
            Aqui você vai encontrar alguns cursos e/ou artigos que te ajudarão a iniciar seus estudos na área da
            Programação.</p>
    </div>
    <div class="info">
        <div class="front">
            <h3>Front-end</h3>
            <a href="https://www.youtube.com/watch?v=iZ1ucWosOww&list=PLInBAd9OZCzydDFvm06EgbPXYylGVcyIL"
                target="blank">HTML e CSS Para Iniciantes</a>
            <a href="https://www.alura.com.br/curso-online-introducao-html-css" target="blank">HTML5 e CSS3</a>
            <a href="https://www.ead.ms.senai.br/cursos/iniciacao_profissional/?id=11" target="blank">Lógica de
                Programação</a>
            <a href="https://www.udemy.com/introducao-a-linguagem-javascript/" target="blank">Introdução a
                JavaScript</a>
            <a href="https://www.udemy.com/logica-de-programacao-com-javascript-iniciando-no-frontend/"
                target="blank">Lógica de Programação com JS</a>
        </div>
        <div class="foto">
            <img class="menina" src="../static/images/menina.jpg" alt="menina-estudando">
        </div>
        <div class="back">
            <h3>Back-end</h3>
            <a href="https://www.youtube.com/watch?v=KlIL63MeyMY" target="blank">Programação Orientada a Objetos</a>
            <a href="https://www.udemy.com/python-3-completo/" target="blank">Python 3 Completo</a>
            <a href="https://www.udemy.com/linguagem-java/" target="blank">Linguagem Java para Iniciantes</a>
            <a href="https://www.devmedia.com.br/conceitos-fundamentais-de-banco-de-dados/1649"
                target="blank">Introdução a Banco de Dados</a>
            <a href="https://www.udemy.com/cursosql/" target="blank">Banco de Dados Completo</a>
        </div>
    </div>
</main>
{% endblock %}