.menu{
    align-items: center;
    display: flex;
    height: 11vh;
    justify-content: space-evenly;
    width: 50vw;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    width: 100%;
}

h1{
    border-bottom: 5px solid #4CA0FF;
    color: #374760;
    font-family: 'Ramaraja', serif;
    font-size: 50pt;
    font-weight: normal;
    line-height: 70px; 
}

.eventos{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    width: 50vw;
}

main p{
    color: #838383;
    font-family: 'Roboto Slab', serif;
    font-size: 15pt;
    margin: 0;
}

main div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.paragrafo{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
}
.calendario{
    display: flex;
    align-items: center;
}

main img{
    height: auto;
    width: 25vw;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.info{
    background-color: #E5E5E5;
    border-radius: 20px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    
}

section h3{
    color: #4CA0FF;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
}

section p{
    color: #838383;
    font-family: 'Roboto Slab', serif;
}

section a{
    text-decoration: none;
    color: #838383;
}

section a:hover{
    font-weight: bold;
}