body {
    text-align: center;
}
a {
    text-decoration: none;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}
h4 {
    margin: 0;
    font-weight: 300;
}
.cinza-claro {
    color: #E5E5E5; 
}
.cinza-escuro {
    color: #838383;
}
.azul {
    color: #374760;
}
.branco {
    color: white;
}
.amarelo {
    color: #FFCE00;
}
.fz7 {
    font-size: 7rem;
}
.fz5 {
    font-size: 5rem;
}
.fz3 {
    font-size: 3.5rem;
}
.fz1 {
    font-size: 1.5rem;
}
.ramaraja {
    font-family: 'Ramaraja', serif;
}
.roboto {
    font-family: 'Roboto Slab', serif;
}
/* header {
   background-color:white;
   border-bottom: 2px solid #AEADAD;
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
header div a {
    font-size: 1.5rem;   
    padding: 7px;
    text-decoration: none;
    margin: 0px 25px;
}
header div a:hover {
    color: #4CA0FF;   
}
header div {
    justify-content: space-around;
}
header button {
    width: 210px;
    height: 44px;
    background: white;
    border: 1px solid #4CA0FF;
    border-radius: 5px;
    color: #4CA0FF;
    font-size: 1rem;
}
header button:hover {
    border: 2px solid #4CA0FF;
    cursor: pointer;
}
header div {
    display: flex;
    height: 100%;
    align-items: center;
}
header div div:hover {
    border-bottom: 2px solid #4CA0FF;
} */
#frase {
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    width: 100%;
}
div span.roboto {
    margin-bottom: 20px;
    
}
.item {
    background-color: white;
    border-radius: 20px;
    height: 365px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-quadrado {
    position: relative;
    bottom: 50px;
    height: 200px;
    width: 290px;
    border-radius: 10px;
}
.item-texto {
    height: 40%;
    width: 70%;
    padding: 20px 20px;
}
main {
    background-color: #E5E5E5;
    height: 800px;
    width: 100%; 
    border-radius: 10px;
}
.flex-style {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section {
    background-color: #E5E5E5;
    height: 500px;
}
/* footer {
    height: 150px;
    background-color: #271A5B;
    position: relative;
}
.above {
    position: absolute;
    bottom: 0px; 
    left: 20px;
}
#gcc-footer {
    position: relative;
    border-right: 2px solid white;
    padding-right: 20px;
}
.p-footer  {
    text-align: left !important; 
    line-height: 20px !important;
    margin-left: 10px;
}
.footer-logo-wrapper {
    display: flex;
    justify-content: center;
} */
article {
    background-color: #271A5B;
    height: 900px;
} 
#mulheres-inspo {
    /* position: relative;
    top: 75px; */
    background-color: white;
    height: 800px;
    width: 45%; 
    border-top: 35px solid #FFCE00;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ada-lovelace {
    position: relative;
    top: -17px;
    width: 244px;
    height: 265px;
    background-image: url("images/ada-lovelace.png");
    border: 1px solid black;
    border-radius: 15px;
}
#mulher-celular {
    position: relative;
    top: 95px;
}
.texto-inspo {
    width: 35%;
    text-align: end;
    margin-right: 35px;
}
section input {
    width: 770px;
    height: 70px;
    background-color: #E1DCDC;
    border: none;
}
section button {
    height: 70px;
    width: 170px;
    background-color: #271A5B;
    border: none;
}
.linha-azul {
    border-bottom: 1px solid #4CA0FF;
    width: 100px;
}
